<div class="hero-content custom-wrapper">
  <div class="small-intro">
    <i class="fa-solid fa-rss"></i>
    <span>Recevez vos codes en quelques minutes</span>
  </div>
  <h1>La meilleure box au meilleur prix</h1>
  <div class="benefits">
    <ul>
      <li>Home Broadband</li>
      <li>Cell Phone Connection</li>
      <li>Home Security</li>
      <li>99% Internet Uptime</li>
    </ul>
    <ul>
      <li>Download 1Gbps</li>
      <li>Evernet TV Box</li>
      <li>Mobile Connection</li>
      <li>24/7 Customer Support</li>
    </ul>
  </div>
  <div class="more-details">
    <a href="#" class="details">Voir les details</a>
    <i class="fa-sharp fa-solid fa-play"></i>
  </div>
</div>
</div>
</div>
<section class="custom-wrapper features">
  <div class="heading">
    <i class="section-icon fa-solid fa-wifi"></i>
    <p class="section-title">BEST TV BOX Features</p>
    <h1>
      We are Internet Service<br />
      Provider Company
    </h1>
  </div>
  <div class="features-list">
    <div class="feature-item">
      <i class="fa-2xl fa-solid fa-wifi"></i>
      <h4>Wifi seamless</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorem
        inventore maiores explicabo eos aspernatur quidem.
      </p>
    </div>
    <div class="feature-item">
      <i class="fa-2xl fa-solid fa-signal"></i>
      <h4>Speed On Demand</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorem
        inventore maiores explicabo eos aspernatur quidem.
      </p>
    </div>
    <div class="feature-item">
      <i class="fa-2xl fa-solid fa-tower-cell"></i>
      <h4>Upgrade Speed</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorem
        inventore maiores explicabo eos aspernatur quidem.
      </p>
    </div>
    <div class="feature-item">
      <i class="fa-2xl fa-solid fa-gauge-high"></i>
      <h4>Wifi seamless</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorem
        inventore maiores explicabo eos aspernatur quidem.
      </p>
    </div>
  </div>

  <div class="description">
    <div class="part-1">
      <div class="sub-part-1">
        <i class="section-icon fa-solid fa-wifi"></i><span class="section-title">BEST TV BOX Features</span>
        <h1>Discover A Wider World Of Recreation</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit,
          blanditiis culpa impedit delectus porro dolor vel id consequuntur ex
          necessitatibus, magni architecto, doloremque inventore eaque? Iusto,
          facere aut, sit inventore sapiente, nesciunt rem ratione dolorem
          mollitia pariatur doloribus repellat! Repellendus atque ipsa iste amet
          aspernatur molestias consequuntur temporibus mollitia sapiente!
        </p>
        <hr />
      </div>
      <div class="sub-part-2">
        <div>
          <img src="images/japanese-spouses-using-tablet-browsing-internet-sitting-on-couch-indoor 2.png"
            alt="japanese-spouses-using-tablet-browsing-internet-sitting-on-couch-indoor" />
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque,
            necessitatibus! Quidem quibusdam assumenda officia harum.
          </p>
        </div>
      </div>
    </div>
    <div class="part-2">
      <div class="orange">
        <p>
          Up To <br />
          <span class="centered">100 MB</span><br />peer second
        </p>
      </div>
      <div class="black">
        <p>Just<br /><span class="centered">$23</span></p>
      </div>

      <img src="images/brothers-playing-on-playstation-e1615963163461 1.png" alt="brothers-playing-on-playstation" />
    </div>
  </div>

  <hr />

  <div class="features-footer">
    <div class="feature-footer-item">
      <i class="fa-2xl fa-solid fa-tv"></i>
      <p>250+ Channels</p>
    </div>
    <div class="feature-footer-item">
      <i class="fa-2xl fa-solid fa-rocket"></i>
      <p>Speed Seamless</p>
    </div>
    <div class="feature-footer-item">
      <i class="fa-2xl fa-solid fa-server"></i>
      <p>Free Installation</p>
    </div>
    <div class="feature-footer-item">
      <i class="fa-2xl fa-brands fa-chromecast"></i>
      <p>4K & 8K Quality</p>
    </div>
    <div class="feature-footer-item">
      <i class="fa-2xl fa-solid fa-wallet"></i>
      <p>Flexible Tariff Plans</p>
    </div>
    <div class="feature-footer-item">
      <i class="fa-2xl fa-solid fa-headset"></i>
      <p>Fast Support 24/7</p>
    </div>
  </div>
</section>
<section class="custom-wrapper search">
  <div class="heading">
    <i class="fa-solid fa-wifi"></i><span>Let's Use Our Service</span>
    <h2>Check Ability To Connect Our<br />Services In Your Area</h2>
  </div>
  <div class="search-controls">
    <input type="search" name="search-input" class="search-input" placeholder="Your email..." />
    <input type="submit" name="search-submit" class="search-submit" value="Check now" />
  </div>
</section>
<section class="custom-wrapper pricing">
  <div class="heading">
    <i class="section-icon fa-solid fa-wifi"></i>
    <p class="section-title">BEST TV BOX Features</p>
    <h1>Discover Our Best Plans</h1>
  </div>
  <div class="pricing-items">
    <% for(let i=0; i < 3; i++){ %>
      <div class="pricing-item">
        <!-- <div class="promo">Promo</div>
      <br /> -->
        <img src="<%= imageEndpoint %>/<%= articles[i].image_art %>" alt="<%= articles[i].nom_art %>" width="100%"
          height="225" />
        <div class="desc">
          <!-- <i class="fa-solid fa-wifi"></i> -->
          <h2 id="name-<%= articles[i].id_art %>" data-name="<%= articles[i].nom_art %>">
            <%= articles[i].nom_art %>
          </h2>
          <h4>
            <%= articles[i].libelle_cat %>
          </h4>
          <!-- <ul>
          <li>Home Broadband</li>
          <li>Cell Phone Connection</li>
          <li>Home Security</li>
          <li>99% Internet Uptime</li>
        </ul> -->
        </div>
        <p><span class="price" id="<%= articles[i].id_art %>" data-price="<%= articles[i].prix_art %>">$<%=
              articles[i].prix_art %></span></p>
        <a href="">See more</a>
        <div class="pricing-footer">
          <div class="qty-section">
            <button data-id="<%= articles[i].id_art %>" id="reduce-<%= articles[i].id_art %>" onclick="decrease($(this).data('id'))">-</button>
            <input type="number" min="0" value="0" id="qty-<%= articles[i].id_art %>">
            <button data-id="<%= articles[i].id_art %>" id="add-<%= articles[i].id_art %>" onclick="increase($(this).data('id'))">+</button>
          </div>
          <button class="buy-btn" data-id="<%= articles[i].id_art %>" onclick="addToCart($(this).data('id'))">Acheter<i
              class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
      <% } %>
  </div>
</section>
<section class="custom-wrapper map">
  <div class="map-cart">
    <img src="images/assets-evernet-network 1.png" alt="" />
  </div>
  <div class="content">
    <i class="section-icon fa-solid fa-network-wired"></i><span class="section-title">Get Blazing Fast Internet</span>
    <h1>BEST TV BOX Is Available To All Corners Of The Country</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum optio id
      ad ea quam eaque atque totam asperiores tenetur facilis.
    </p>
    <h5>Call Us Now For Connect Evernet</h5>
    <b>+(62) 800-567-8990</b>
  </div>
</section>
<section class="testimonials">
  <div class="part-1">
    <div class="mask custom-wrapper">
      <i class="section-icon fa-solid fa-users"></i>
      <p>Testimonials</p>
      <h1>What Our Clients Say</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="part-2">
    <div class="testimonial">
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
          class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="identity">
        <img src="images/Ellipse 20.png" alt="" />
        <div class="names">
          <h3>Laura Ferguson</h3>
          <p>Project manager</p>
        </div>
      </div>
      <p class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptas
        ipsa! Nam doloremque velit reiciendis maiores corrupti?
      </p>
    </div>
    <div class="testimonial">
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
          class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="identity">
        <img src="images/Ellipse 21.png" alt="" />
        <div class="names">
          <h3>Audrey steverson</h3>
          <p>Project manager</p>
        </div>
      </div>
      <p class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptas
        ipsa! Nam doloremque velit reiciendis maiores corrupti?
      </p>
    </div>
    <div class="testimonial">
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
          class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="identity">
        <img src="images/Ellipse 22.png" alt="" />
        <div class="names">
          <h3>Fred Rodriguez</h3>
          <p>Project manager</p>
        </div>
      </div>
      <p class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptas
        ipsa! Nam doloremque velit reiciendis maiores corrupti?
      </p>
    </div>
    <div class="testimonial">
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
          class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="identity">
        <img src="images/Ellipse 22.png" alt="" />
        <div class="names">
          <h3>Fred Rodriguez</h3>
          <p>Project manager</p>
        </div>
      </div>
      <p class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptas
        ipsa! Nam doloremque velit reiciendis maiores corrupti?
      </p>
    </div>
  </div>
</section>
<section class="custom-wrapper news">
  <i class="section-icon fa-solid fa-network-wired"></i><span class="section-title">Our News</span>
  <div class="heading">
    <h1>Latest News</h1>
    <a href="">All news</a>
  </div>
  <div class="content">
    <div class="news-summary news">
      <div class="news-summary-item">
        <a href="#">
          <h4>Using Internet For Hobby & Entertainment</h4>
        </a>
        <div class="datetime">
          <i class="fa-solid fa-calendar"></i> <span>March 16, 2021</span>
        </div>
      </div>
      <div class="news-summary-item">
        <a href="#">
          <h4>Internet Speed For Day Today Online Trading</h4>
        </a>
        <div class="datetime">
          <i class="fa-solid fa-calendar"></i> <span>March 16, 2021</span>
        </div>
      </div>
      <div class="news-summary-item">
        <a href="#">
          <h4>Best Internet Providers Of The World</h4>
        </a>
        <div class="datetime">
          <i class="fa-solid fa-calendar"></i> <span>March 16, 2021</span>
        </div>
      </div>
      <div class="news-summary-item">
        <a href="#">
          <h4>Children Are Going To Love The New Channels</h4>
        </a>
        <div class="datetime">
          <i class="fa-solid fa-calendar"></i> <span>March 16, 2021</span>
        </div>
      </div>
    </div>
    <div class="post news">
      <img src="images/couple-at-home-playing-in-a-video-games 1.png" alt="" />
      <br />
      <a href="#">
        <h4>Using Internet For Hobby & Entertainment</h4>
      </a>
      <div class="datetime">
        <i class="fa-solid fa-calendar"></i> <span>March 16, 2021</span>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="footer">
        <a href="#">Read more <i class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="post news">
      <img
        src="images/international-group-of-fashionable-african-male-caucasian-and-asian-girls-making-video-call-to-thei 1.png"
        alt="" />
      <br />
      <a href="#">
        <h4>Internet Speed For Day Today Online Trading</h4>
      </a>
      <div class="datetime">
        <i class="fa-solid fa-calendar"></i> <span>March 16, 2021</span>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="footer">
        <a href="#">Read more <i class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</section>