<link rel="stylesheet" href="css/commercial.css" />
<link rel="stylesheet" href="css/articles.css" />

<div class="hero-content custom-wrapper">
  <h1>Nos articles</h1>
  <h3>Accueil - articles</h3>
</div>
</div>
</div>

<section class="custom-wrapper pricing">
  <div class="heading">
    <i class="section-icon fa-solid fa-wifi"></i>
    <p class="section-title">BEST TV BOX Features</p>
    <h1>Discover Our Best Plans</h1>
  </div>
  <div class="pricing-items">
    <% for(let i=0; i < articles.length; i++){ %>
      <div class="pricing-item">
        <!-- <div class="promo">Promo</div>
      <br /> -->
        <img src="<%= imageEndpoint %>/<%= articles[i].image_art %>" alt="<%= articles[i].nom_art %>" width="100%"
          height="225" />
        <div class="desc">
          <!-- <i class="fa-solid fa-wifi"></i> -->
          <h2 id="name-<%= articles[i].id_art %>" data-name="<%= articles[i].nom_art %>">
            <%= articles[i].nom_art %>
          </h2>
          <h4>
            <%= articles[i].libelle_cat %>
          </h4>
          <!-- <ul>
          <li>Home Broadband</li>
          <li>Cell Phone Connection</li>
          <li>Home Security</li>
          <li>99% Internet Uptime</li>
        </ul> -->
          <p><span class="price" id="<%= articles[i].id_art %>" data-price="<%= articles[i].prix_art %>">$<%=
                articles[i].prix_art %></span></p>
          <a href="">See more</a>
        </div>
        <div class="pricing-footer">
          <div class="qty-section">
            <button class="cart-button" data-id="<%= articles[i].id_art %>" id="reduce-<%= articles[i].id_art %>"
              onclick="decrease($(this).data('id'))">-</button>
            <span id="qty-<%= articles[i].id_art %>">0</span>
            <button class="cart-button" data-id="<%= articles[i].id_art %>" id="add-<%= articles[i].id_art %>"
              onclick="increase($(this).data('id'))">+</button>
          </div>
          <div class="add-section">
            <button class="buy-btn" data-id="<%= articles[i].id_art %>"
              onclick="addToCart($(this).data('id'))"><i class="fa-solid fa-cart-shopping"></i></button>
          </div>
        </div>
      </div>
      <% } %>
  </div>
</section>