<div class="container d-flex justify-content-center">
  <form role="form" class="col-md-6" action="/marketers/<%= marketer.id_usr %>" method="post">
    <h2>Edit Marketer</h2>
    <label>Email</label>
    <div class="mb-3">
      <input
        name="email"
        value="<%= marketer.email_usr %>"
        type="email"
        class="form-control"
        placeholder="Email"
        aria-label="Email"
        aria-describedby="email-addon"
      />
    </div>
    <label>First Name</label>
    <div class="mb-3">
      <input
        name="fname"
        value="<%= marketer.prenom_usr %>"
        type="text"
        class="form-control"
        placeholder="First Name"
        aria-label="FName"
        aria-describedby="fname-addon"
      />
    </div>
    <label>Name</label>
    <div class="mb-3">
      <input
        name="name"
        value="<%= marketer.nom_usr %>"
        type="name"
        class="form-control"
        placeholder="Name"
        aria-label="Name"
        aria-describedby="name-addon"
      />
    </div>
    <label>Phone</label>
    <div class="mb-3">
      <input
        name="phone"
        value="<%= marketer.phone_usr %>"
        type="tel"
        class="form-control"
        placeholder="Phone"
        aria-label="Phone"
        aria-describedby="phone-addon"
      />
    </div>
    <div class="btn-group d-flex justify-content-center">
      <input type="submit" value="Save" class="btn btn-success" />
    </div>
  </form>
</div>
