<div class="container">
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="card">
        <div class="card-header mx-4 p-3 text-center">
          <div
            class="icon icon-shape icon-lg bg-success shadow text-center border-radius-lg"
          >
            <i class="fas fa-landmark opacity-10"></i>
          </div>
        </div>
        <div class="card-body pt-0 p-3 text-center">
          <h6 class="text-center mb-0">Amount</h6>
          <hr class="horizontal dark my-3" />
          <h5 class="mb-0">$<%= payment.montant_paie %></h5>
          <% if(payment.code_promo){ %>
            <h6>Promo : <%= payment.code_promo %></h6>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Invoice</h6>
          <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4">
            <i class="fas fa-file-pdf text-lg me-1"></i> PDF
          </button>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            <% sales.forEach((sale) =>{ %>
            <li
              class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"
            >
              <div class="d-flex align-items-center">
                <h6 class="mb-3 text-sm"><%= sale.nom_art %></h6>
              </div>
              <div class="ms-auto align-items-center text-end">
                <span
                  class="btn btn-link text-danger text-gradient px-3 mb-0"
                  href="javascript:;"
                  ><%= sale.qte %></span
                >
                <span
                  class="btn btn-link text-dark px-3 mb-0"
                  href="javascript:;"
                >
                  $<%= sale.prix_art %></span
                >
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
