<main
  class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
>
  <!-- Form -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Promotion</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form role="form" action="" method="post">
            <label>Marketer</label>
            <div class="mb-3">
              <select name="marketer" name="marketer" class="form-control">
                <% for(let i = 0; i < marketers.length; i++){ %>
                  <option value="<%= marketers[i].id_usr %>"><%= marketers[i].prenom_usr %> <%= marketers[i].nom_usr %></option>
                <% } %>
              </select>
            </div>
            <label>Discount</label>
            <div class="mb-3">
              <input
                name="discount"
                type="number",
                step="any"
                class="form-control"
                placeholder="Discount"
                aria-label="discount"
                aria-describedby="discount-addon"
              />
            </div>
            <label>Commission</label>
            <div class="mb-3">
              <input
                name="commission"
                type="number",
                step="any"
                class="form-control"
                placeholder="commission"
                aria-label="commission"
                aria-describedby="commission-addon"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-info">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div
            class="card-header pb-0 d-flex align-items-center justify-content-between"
          >
            <h6>Promotions</h6>
            <a
              href=""
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >+ Promotion</a
            >
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table
                id="table"
                class="table align-items-center mb-0"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Marketer
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Code
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Discount
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Commission
                    </th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if(promotions.length > 0){ %> <% for(let i = 0; i <
                  promotions.length; i++){ %>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm"><%= promotions[i].prenom_usr %> <%= promotions[i].nom_usr %></h6>
                          <p class="text-xs text-secondary mb-0">
                            <%= promotions[i].email_usr %>
                          </p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-center text-xs font-weight-bold mb-0">
                        <%= promotions[i].code_prom %>
                      </p>
                    </td>
                    <td>
                      <p class="text-center text-xs font-weight-bold mb-0">
                        <%= promotions[i].reduction_prom %>%
                      </p>
                    </td>
                    <td>
                      <p class="text-center text-xs font-weight-bold mb-0"><%= promotions[i].commission_prom %>%</p>
                    </td>
                    <td class="align-middle">
                      <a
                        href="/promotions/<%= promotions[i].id_usr %>"
                        class="text-secondary font-weight-bold text-xs"
                        data-toggle="tooltip"
                        data-original-title="Edit Promotion"
                      >
                        Edit
                      </a>
                      <a
                        href="javascript:;"
                        class="mx-3 text-secondary font-weight-bold text-xs"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal<%= promotions[i].id_usr %>"
                      >
                        Delete
                      </a>
                    </td>
                  </tr>

                  <!-- Delete Pop up -->
                  <div
                    class="modal fade"
                    id="deleteModal<%= promotions[i].id_usr %>"
                    tabindex="-1"
                    aria-labelledby="deleteModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <p>Are you sure ?</p>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancel
                          </button>
                          <a
                            href="/promotions/delete/<%= promotions[i].id_usr %>"
                            class="btn btn-danger"
                            >Delete</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End -->

                  <% } %> <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
